<div id="add-to-cart-div">
    <% if is_in_cart item %>
        <button class="btn btn-theme btn-block" disabled>
            Item added to cart
        </button>
    <% else %>
        <%= link_to add_to_cart_path(:item_id => item.id), remote: true do %>
            <button class="btn btn-theme btn-block" onclick="showSpinner(this)">
                <span>
                    Add to cart | <%= item.rental_costs %>
                </span>
                <span class="no-display">
                    <i class="fas fa-shopping-cart"></i>
                </span>
            </button>
        <% end %>
    <% end %>
</div>

<div id="add-to-likes-div">
    <% if is_in_favorites item %>
        <button class="btn btn-theme-outline btn-block" disabled>
            Item saved
        </button>
    <% else %>
        <%= link_to favorite_path(:item_id => item.id), remote: true, method: :post do %>
            <button class="btn btn-theme-outline btn-block">
                <span>
                    Save
                </span>
                <span class="no-display">
                    <i class="far fa-heart"></i>
                </span>
            </button>
        <% end %>
    <% end %>
</div>

<script>
    showSpinner = (elem) => {
        elem.innerHTML = `
            <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        `;
    }
</script>