<section class="pr-confirmation" id="pr-confirmation-<%= @pr.confirmation_token %>">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Thank you!</h5>
                    
                    <h6>
                        Confirmation token:
                        <strong><%= @pr.confirmation_token %></strong>
                    </h6>
                    
                    <p>
                        Keep an eye out for a reminder email from us on the day
                        of your scheduled pick-up!
                    </p>
                    <hr>
                    <a href="/">
                        Dashboard
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>