<section class="pr-confirmation" id="pr-confirmation-<%= @pr.confirmation_token %>">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h6>Request Confirmation</h6>
                    <h5>Thank you!</h5>
                    
                    <hr>
                    <a href="/">
                        Dashboard
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>