<style type="text/css">
    #renter-body {
        padding-top: 104px;
    }
    
    #scrollable-feed-items .card {
        margin-bottom: 15px;
    }
</style>

<section id="renter-feed">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-1 fixed">
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-7" id="scrollable-feed-items">
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    document.querySelector("nav").classList.add("fixed-top");
    
</script>