<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% resource.errors.full_messages.each do |message| %>
      <li><%= sanitize message %></li>
    <% end %>
  </div>
<% end %>