/* line 1, /home/ubuntu/environment/app/assets/stylesheets/button.scss */
.btn-transparent {
  color: #b8b8ba !important;
  background-color: transparent !important;
  border-color: #e7e7e9 !important;
}

/* line 8, /home/ubuntu/environment/app/assets/stylesheets/button.scss */
.dashboard-navigation button {
  border-left: none;
  border-right: none;
  border-width: 0.5px !important;
}

@media (max-width: 992px) {
  /* line 16, /home/ubuntu/environment/app/assets/stylesheets/button.scss */
  .dashboard-navigation {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  /* line 20, /home/ubuntu/environment/app/assets/stylesheets/button.scss */
  .dashboard-navigation .btn {
    border-radius: 0;
    height: 50px;
  }
  /* line 25, /home/ubuntu/environment/app/assets/stylesheets/button.scss */
  .dashboard-navigation .dropdown-menu {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 34, /home/ubuntu/environment/app/assets/stylesheets/button.scss */
  .dashboard-navigation .dropdown-item {
    color: #b8b8ba !important;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #e7e7e9;
  }
}
/* line 1, /home/ubuntu/environment/app/assets/stylesheets/card.scss */
.card {
  border-color: #eeeeef;
}
/* line 4, /home/ubuntu/environment/app/assets/stylesheets/card.scss */
.card .card-body {
  padding: 30px 30px 50px;
}

@media (max-width: 992px) {
  /* line 10, /home/ubuntu/environment/app/assets/stylesheets/card.scss */
  .card {
    border: none;
  }
  /* line 13, /home/ubuntu/environment/app/assets/stylesheets/card.scss */
  .card .card-body {
    padding: 0;
  }
}
/* line 1, /home/ubuntu/environment/app/assets/stylesheets/footer.scss */
footer {
  border-top: 0.5px solid #e7e7e9;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 40px 0 30px;
  margin-top: 25px;
  color: #616162;
}
/* line 10, /home/ubuntu/environment/app/assets/stylesheets/footer.scss */
footer a {
  color: #616162;
}
/* line 14, /home/ubuntu/environment/app/assets/stylesheets/footer.scss */
footer .payment-card-brands {
  font-size: 30px;
}
/* line 17, /home/ubuntu/environment/app/assets/stylesheets/footer.scss */
footer .payment-card-brands a {
  text-decoration: none;
  color: #7a7a7b !important;
}

@media (max-width: 992px) {
  /* line 25, /home/ubuntu/environment/app/assets/stylesheets/footer.scss */
  footer {
    padding-bottom: 0;
    text-align: center;
  }
}
/* line 1, /home/ubuntu/environment/app/assets/stylesheets/form.scss */
button.btn, input {
  height: 50px !important;
}

/* line 5, /home/ubuntu/environment/app/assets/stylesheets/form.scss */
button.btn, input, textarea {
  font-size: 16px !important;
  outline: none !important;
  box-shadow: none !important;
}

/* line 11, /home/ubuntu/environment/app/assets/stylesheets/form.scss */
.form-control {
  margin-bottom: 15px;
}

/* line 15, /home/ubuntu/environment/app/assets/stylesheets/form.scss */
button.btn, .form-control {
  border-radius: 3px;
}
/* line 6, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .item-column {
  margin: 15px 0;
}
/* line 9, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .item-column .card-footer {
  display: none;
}
/* line 14, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .img--container {
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 5px !important;
  overflow: hidden;
  cursor: pointer;
}
/* line 23, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .img--container .card-footer {
  background-color: #fff;
  border-color: #fff;
}
/* line 27, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .img--container .card-footer p {
  font-size: 14px;
}
/* line 32, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .img--container img {
  width: inherit;
}
/* line 37, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .img--container:hover {
  width: 105%;
  height: auto;
  z-index: 10999 !important;
  position: absolute;
  box-shadow: 0 26px 54px -10px rgba(50, 50, 93, 0.25), 0 16px 32px -16px rgba(0, 0, 0, 0.3), 0 -12px 32px -12px rgba(0, 0, 0, 0.025);
}
/* line 46, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
#inventory--items .img--container:hover .card-footer {
  display: block;
}

/* line 53, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
.inventory-item nav {
  height: 50px;
}
/* line 56, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
.inventory-item nav .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}
/* line 63, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
.inventory-item .img--container {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  margin: auto;
}
/* line 70, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
.inventory-item .img--container li {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
}
/* line 76, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
.inventory-item .img--container i {
  color: #000 !important;
  font-size: 25px;
}
/* line 83, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
.inventory-item .item-data div:not(:last-child) {
  margin-bottom: 15px;
}

/* line 89, /home/ubuntu/environment/app/assets/stylesheets/inventory_items.scss */
.tinymce {
  min-height: 500px;
}
/* line 2, /home/ubuntu/environment/app/assets/stylesheets/nav.scss */
.nav-pills .nav-link {
  background-color: transparent !important;
  color: #b8b8ba !important;
  padding: 0;
  margin-bottom: 15px;
}
/* line 8, /home/ubuntu/environment/app/assets/stylesheets/nav.scss */
.nav-pills .nav-link span {
  width: 0;
}
/* line 14, /home/ubuntu/environment/app/assets/stylesheets/nav.scss */
.nav-pills .nav-link:hover span, .nav-pills .active span {
  color: #616162;
  padding-bottom: 4px;
  border-bottom: 2px solid #616162;
}
/* line 6, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
.pr-confirmation {
  text-align: center;
}

/* line 10, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
.section-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 16, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
.section-avatar .img--container {
  margin: auto;
  width: 120px;
  height: 120px;
  border: 3px solid #f5f5f6;
  border-radius: 60px;
  overflow: hidden;
}
/* line 25, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
.section-avatar .profile-snapshot-container {
  height: 100%;
  padding-top: 5%;
}
/* line 30, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
.section-avatar .privacy-settings-btn-container {
  padding-top: 30%;
}
/* line 34, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
.section-avatar img {
  height: 120px;
}

@media (max-width: 992px) {
  /* line 40, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
  .section-avatar {
    text-align: center !important;
  }
  /* line 43, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
  .section-avatar .img--container {
    justify-content: center;
  }
  /* line 47, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
  .section-avatar .profile-snapshot-container {
    padding-top: 5%;
    padding-bottom: 1px;
  }
  /* line 52, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
  .section-avatar .privacy-settings-btn-container {
    padding: 0 0 15px;
  }

  /* line 57, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
  .section-divider {
    display: none;
  }

  /* line 61, /home/ubuntu/environment/app/assets/stylesheets/pickup_requests.scss */
  .section-dashboard_content {
    padding-top: 15px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
html, body {
  overflow-x: hidden !important;
}

/* line 22, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
nav {
  height: 75px;
}

/* line 26, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
body {
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 100vh;
}
/* line 31, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
body #io-body {
  padding-top: 30px;
}

/* line 36, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.mobile-show {
  display: none;
}

/* line 40, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
hr {
  border-color: #eeeeef;
}

/* line 44, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #616162;
}

/* line 48, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
.no-border {
  border: none;
}

@media (max-width: 992px) {
  /* line 53, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
  .mobile-show {
    display: block !important;
  }

  /* line 57, /home/ubuntu/environment/app/assets/stylesheets/application.scss */
  .mobile-hide {
    display: none !important;
  }
}
