/* line 1, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn-transparent {
  color: #b8b8ba !important;
  background-color: transparent !important;
  border-color: #e7e7e9 !important;
}

/* line 7, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn-primary {
  background-color: #4b76b4;
  border-color: #4b76b4;
}

/* line 12, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus {
  border-color: #4b76b4;
  color: #4b76b4;
  background-color: transparent;
}

/* line 18, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #436aa2;
  border-color: #436aa2;
}

/* line 23, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn-muted, .btn-muted:hover {
  background-color: #ECF0F3;
  border-color: #ECF0F3;
  color: var(--main-link-color);
}

/* line 29, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn {
  border-radius: 2.75px;
  font-size: 14px;
}

/* line 34, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn:focus {
  box-shadow: none !important;
}

/* line 38, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn-pill {
  border-radius: 25px !important;
}

/* line 42, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
.btn-link, .btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}

/* line 47, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
a.body-link {
  color: var(--main-link-color) !important;
  text-decoration: none;
  display: block;
  text-align: center;
}

@media (max-width: 992px) {
  /* line 55, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
  .dashboard-navigation {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  /* line 59, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
  .dashboard-navigation .btn {
    border-radius: 0 !important;
    height: 50px;
  }
  /* line 64, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
  .dashboard-navigation .dropdown-menu {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 73, /home/ubuntu/environment/sofash/app/assets/stylesheets/button.scss */
  .dashboard-navigation .dropdown-item {
    color: #b8b8ba !important;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #e7e7e9;
  }
}
/* line 1, /home/ubuntu/environment/sofash/app/assets/stylesheets/card.scss */
.card {
  border-color: #eeeeef;
  border-radius: 2.75px;
}
/* line 5, /home/ubuntu/environment/sofash/app/assets/stylesheets/card.scss */
.card .card-body {
  padding: 30px;
}

@media (max-width: 992px) {
  /* line 11, /home/ubuntu/environment/sofash/app/assets/stylesheets/card.scss */
  .card:not(.item--img--container) {
    border: none;
  }
  /* line 14, /home/ubuntu/environment/sofash/app/assets/stylesheets/card.scss */
  .card:not(.item--img--container) .card-body {
    padding: 0;
  }
}
/* line 7, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section img {
  height: 50px;
  width: auto;
}
/* line 12, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .item-order:not(:last-child) {
  margin-bottom: 25px;
}
/* line 16, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .item-order {
  margin: 0;
}
/* line 19, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .item-order img {
  width: 100%;
}
/* line 23, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .item-order .float-left {
  width: 25%;
  border: 1px solid #e7e7e9;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 31, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .item-order .float-right {
  width: 75%;
  border: 1px solid #e7e7e9;
  border-left: none;
  padding: 10px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 40, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .item-order #remove-from-cart {
  font-size: 14px;
}

/* line 47, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#checkoutBtn i {
  transition: margin-left 0.5s;
}

/* line 53, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#checkoutBtn:hover i {
  margin-left: 10px;
}

/* line 59, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section img, #checkout img {
  width: 100%;
  height: auto;
}
/* line 64, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .img-container, #checkout .img-container {
  border: 1px solid #e7e7e9;
  border-radius: 5px;
  padding: 15px;
}
/* line 70, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
#cart-section .hr, #checkout .hr {
  height: 1.5px;
  background-color: #e7e7e9;
  border-color: #e7e7e9;
}

@media (max-width: 992px) {
  /* line 78, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
  .item-order {
    margin: 0;
  }
  /* line 81, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
  .item-order .float-left {
    width: 30% !important;
  }
  /* line 85, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
  .item-order .float-right {
    width: 70% !important;
  }

  /* line 91, /home/ubuntu/environment/sofash/app/assets/stylesheets/carts.scss */
  #cart-section .img-container, #checkout .img-container {
    margin-bottom: 15px;
  }
}
/* line 2, /home/ubuntu/environment/sofash/app/assets/stylesheets/devise.scss */
#login-section header, #signup-section header {
  margin-bottom: 25px;
}
/* line 6, /home/ubuntu/environment/sofash/app/assets/stylesheets/devise.scss */
#login-section a, #signup-section a {
  color: var(--main-font-color);
}
/* line 10, /home/ubuntu/environment/sofash/app/assets/stylesheets/devise.scss */
#login-section a.navbar-brand, #signup-section a.navbar-brand {
  margin-right: 0;
}
/* line 1, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer {
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 30px 30px 0 30px;
  color: #003166;
  border: 1px solid #e7e7e9;
  border-bottom: none;
  height: 250px;
}
/* line 11, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer #newsletter-signup {
  min-height: 100px;
  margin-bottom: 25px;
  background-color: #ccd1e4;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 18, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer #newsletter-signup hr {
  height: 1px;
  border-color: #7f7f7f;
  background-color: #7f7f7f;
}
/* line 24, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer #newsletter-signup h5 {
  color: var(--main-font-color);
}
/* line 28, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer #newsletter-signup #list-with-us {
  text-align: left !important;
}
/* line 31, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer #newsletter-signup #list-with-us .col-md-12 {
  margin-bottom: 15px;
}
/* line 35, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer #newsletter-signup #list-with-us h6 {
  color: #7f7f7f !important;
}
/* line 39, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer #newsletter-signup #list-with-us i {
  font-size: 20px;
}
/* line 46, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer .social-links a:not(:last-child) {
  margin-right: 20px;
}
/* line 50, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer .social-links a {
  font-size: 17px;
}
/* line 55, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer a {
  color: #003166;
}
/* line 59, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer h6 {
  margin-bottom: 20px;
}
/* line 63, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer p {
  margin-bottom: 10px;
  font-size: 15px;
}
/* line 68, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
footer .copyright-column {
  color: #003166;
}

@media (max-width: 992px) {
  /* line 74, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
  footer {
    padding-bottom: 0;
    text-align: center;
  }
  /* line 78, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
  footer .copyright-column {
    text-align: center !important;
  }
  /* line 82, /home/ubuntu/environment/sofash/app/assets/stylesheets/footer.scss */
  footer .col-md-4:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* line 1, /home/ubuntu/environment/sofash/app/assets/stylesheets/form.scss */
button.btn, input.form-control, input.btn {
  height: 50px !important;
}

/* line 5, /home/ubuntu/environment/sofash/app/assets/stylesheets/form.scss */
button.btn, input.form-control, textarea {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 3px;
}

/* line 11, /home/ubuntu/environment/sofash/app/assets/stylesheets/form.scss */
input:focus {
  border-color: #ced4da !important;
}

/* line 15, /home/ubuntu/environment/sofash/app/assets/stylesheets/form.scss */
label, .form-control, .btn {
  font-size: 14px !important;
}

/* line 19, /home/ubuntu/environment/sofash/app/assets/stylesheets/form.scss */
.form-control {
  border-radius: 2.75px !important;
  margin-bottom: 15px;
}

/* line 25, /home/ubuntu/environment/sofash/app/assets/stylesheets/form.scss */
#newsletter-form input {
  outline: none !important;
  text-shadow: none !important;
}
/* line 1, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#first-banner {
  padding-top: 75px;
  height: 62vh;
  border: none;
  width: 100%;
  background-image: url("/images/banners/banner_test_5.png");
  background-size: cover;
  background-position: center;
  margin-top: -75px;
  margin-bottom: 20px;
}

/* line 13, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner {
  min-height: 450px;
  background-color: #e5f1ff;
  text-align: center;
  padding: 40px 0 80px;
}
/* line 19, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner h3 {
  color: var(--main-font-color);
  margin-bottom: 35px;
  font-size: 35px;
}
/* line 25, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4 {
  height: inherit !important;
}
/* line 29, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .card {
  text-align: left;
  height: 100%;
}
/* line 34, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .card .card-body h6.bold {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 15px;
}
/* line 40, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .card .card-body ul {
  padding-inline-start: 15px !important;
}
/* line 44, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .card .card-body div {
  margin-top: 25px;
}
/* line 47, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .card .card-body div button {
  font-size: 14px !important;
}
/* line 54, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:first-child > .card {
  border-color: #c0c0c0;
}
/* line 57, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:first-child > .card .card-header:first-child {
  border-radius: 0 !important;
  padding: 0;
  height: 5px;
}
/* line 63, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:first-child > .card .card-header {
  background-color: #c0c0c0;
}
/* line 68, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:nth-child(2) .card {
  border-color: #cd7f32;
}
/* line 71, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:nth-child(2) .card .card-header:first-child {
  border-radius: 0 !important;
  padding: 0;
  height: 5px;
}
/* line 77, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:nth-child(2) .card .card-header {
  background-color: #cd7f32;
}
/* line 82, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:last-child > .card {
  border-color: #FFD700;
}
/* line 85, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:last-child > .card .card-header:first-child {
  border-radius: 0 !important;
  padding: 0;
  height: 5px;
}
/* line 91, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
#second-banner .col-md-4:last-child > .card .card-header {
  background-color: #FFD700;
}

@media (max-width: 992px) {
  /* line 100, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
  .brand-box:not(:last-child) {
    margin-bottom: 15px;
  }

  /* line 104, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
  .prop-asset {
    border-width: 2px !important;
  }

  /* line 109, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
  #browse-by-brand .col-md-2 {
    width: 50%;
    display: inline-block;
  }

  /* line 115, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
  #first-banner {
    height: 450px;
  }
  /* line 118, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
  #first-banner h1 {
    font-size: 40px !important;
  }

  /* line 124, /home/ubuntu/environment/sofash/app/assets/stylesheets/home.scss */
  #second-banner h3 {
    font-size: 25px;
  }
}
/* line 6, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.feed-item-description {
  padding-top: 30px;
}

/* line 13, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item nav {
  height: 50px;
  border-bottom: none !important;
}
/* line 17, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item nav .breadcrumb {
  background-color: transparent !important;
  padding: 0;
  margin-bottom: 0;
}
/* line 22, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item nav .breadcrumb li:not(:first-child)::before {
  content: ">";
}
/* line 28, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item h6 {
  font-weight: 600;
}
/* line 32, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item .img--container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5px;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 45px;
}
/* line 41, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item .img--container li {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
}
/* line 47, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item .img--container i {
  color: #000 !important;
  font-size: 25px;
}
/* line 52, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item .img--container img {
  vertical-align: middle !important;
  width: 90% !important;
}
/* line 60, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item .item-data .item-name h5 {
  color: #000;
}
/* line 67, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.inventory-item .item-actions .btn {
  transition: display 0.50s;
  margin-bottom: 15px;
}

/* line 74, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.tinymce {
  min-height: 500px;
}

/* line 78, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.badge-success {
  background-color: transparent;
  color: #28a745;
  border: 0.5px solid #28a745;
}

/* line 84, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
.badge-danger {
  background-color: transparent;
  color: #dc3545;
  border: 0.5px solid #dc3545;
}

@media (max-width: 992px) {
  /* line 94, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
  #inventory--items .img--container .card-body {
    max-height: 215px;
  }
  /* line 99, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
  #inventory--items .col-md-3, #inventory--items .col-md-2 {
    width: 50%;
    display: inline-block;
  }

  /* line 106, /home/ubuntu/environment/sofash/app/assets/stylesheets/inventory_items.scss */
  .inventory-item .item-data {
    margin-top: 15px;
  }
}
/* line 1, /home/ubuntu/environment/sofash/app/assets/stylesheets/modal.scss */
.modal-title {
  width: 100%;
}

/* line 5, /home/ubuntu/environment/sofash/app/assets/stylesheets/modal.scss */
.modal-body {
  text-align: center;
}

/* line 9, /home/ubuntu/environment/sofash/app/assets/stylesheets/modal.scss */
.modal-header {
  text-align: center;
}
/* line 1, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
.navbar-brand {
  font-family: 'Poppins', sans-serif;
  color: var(--main-font-color) !important;
  font-size: 25px;
}

/* line 7, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav {
  border-bottom: 1px solid #e7e7e9;
  font-weight: 500 !important;
  max-height: 75px;
}
/* line 13, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .nav-item .btn-link:not(#user-icon) {
  font-size: var(--nav-font-size) !important;
}
/* line 18, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .nav-item:not(:last-child) {
  margin-right: 40px;
}
/* line 22, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .btn-link {
  padding-left: 0;
  padding-right: 0;
}
/* line 27, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav #mobile-menu, nav #search-panel {
  display: none;
  transition: display 2s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #fff;
  z-index: 9999;
}
/* line 40, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav #mobile-menu header, nav #search-panel header {
  height: 75px;
  padding: 28px 15px;
  border-bottom: 1px solid #e7e7e9;
}
/* line 45, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav #mobile-menu header h6, nav #search-panel header h6 {
  margin: auto !important;
}
/* line 51, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav #mobile-menu #menu-body div, nav #search-panel #menu-body div {
  padding: 30px 15px;
  font-size: 20px;
}
/* line 56, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav #mobile-menu #menu-body a, nav #search-panel #menu-body a {
  color: var(--main-font-color);
}
/* line 59, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav #mobile-menu #menu-body a div, nav #search-panel #menu-body a div {
  border-bottom: 1px solid #e7e7e9;
}
/* line 66, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  height: 39px;
}
/* line 72, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler span {
  height: 0;
}
/* line 76, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler .ham-menu {
  width: 100%;
  height: 3px;
  background-color: #003166;
  transition: width 0.55s;
}
/* line 83, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler .ham-menu-wrapper {
  margin-top: 10px;
}
/* line 87, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler #stack1, nav .navbar-toggler #stack2 {
  margin-bottom: 5px;
}
/* line 91, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler #stack3 {
  width: 60%;
  transition: width 0.15s;
}
/* line 96, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler #stack2 {
  width: 80%;
  transition: width 0.35s;
}
/* line 103, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
nav .navbar-toggler:focus #stack1, nav .navbar-toggler:focus #stack2, nav .navbar-toggler:focus #stack3 {
  width: 0;
}

/* line 109, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
#base-navbar {
  background-color: transparent;
  height: 75px;
}
/* line 114, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
#base-navbar .nav-item .btn-link:not(#user-icon) {
  color: var(--main-link-color) !important;
}

/* line 120, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
#io-navbar, #renter-navbar {
  background-color: #fff;
}
/* line 124, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
#io-navbar .nav-item .btn-link:not(#user-icon), #renter-navbar .nav-item .btn-link:not(#user-icon) {
  color: var(--main-font-color) !important;
}
/* line 129, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
#io-navbar .nav-item, #renter-navbar .nav-item {
  padding-top: 10px;
}
/* line 132, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
#io-navbar .nav-item hr, #renter-navbar .nav-item hr {
  margin-top: 10px;
  margin-bottom: 0;
  width: 0;
  height: 3px;
  transition: width 0.5s;
  background-color: #120D07 !important;
  border-color: #120D07 !important;
}
/* line 145, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
#io-navbar .nav-item.active hr, #io-navbar .nav-item:hover hr, #renter-navbar .nav-item.active hr, #renter-navbar .nav-item:hover hr {
  width: 100% !important;
}

@media (max-width: 992px) {
  /* line 152, /home/ubuntu/environment/sofash/app/assets/stylesheets/navbar.scss */
  #user-icon {
    color: var(--main-font-color) !important;
    font-size: 25px !important;
  }
}
/* line 6, /home/ubuntu/environment/sofash/app/assets/stylesheets/pages.scss */
#new-wish-section {
  text-align: center;
}
/* line 8, /home/ubuntu/environment/sofash/app/assets/stylesheets/pages.scss */
#new-wish-section p {
  margin-bottom: 0;
}
/* line 12, /home/ubuntu/environment/sofash/app/assets/stylesheets/pages.scss */
#new-wish-section a {
  text-decoration: none;
}

/* line 17, /home/ubuntu/environment/sofash/app/assets/stylesheets/pages.scss */
.image-upload-card {
  border: 3px solid var(--main-font-color);
  margin-bottom: 15px;
}
/* line 21, /home/ubuntu/environment/sofash/app/assets/stylesheets/pages.scss */
.image-upload-card i {
  font-size: 60px;
  cursor: pointer;
  color: #ccd1e4;
  transition: color 0.50s;
}
/* line 28, /home/ubuntu/environment/sofash/app/assets/stylesheets/pages.scss */
.image-upload-card i:hover {
  color: var(--main-font-color);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *




 */
/* line 1, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-title {
  font-weight: bold;
}

/* line 4, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-message {
  word-wrap: break-word;
}

/* line 8, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-message a,
.toast-message label {
  color: #FFF;
}

/* line 12, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-message a:hover {
  color: #CCC;
  text-decoration: none;
}

/* line 17, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-top-left {
  top: 12px;
  left: 12px;
}

/* line 22, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

/* line 27, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-bottom-left {
  left: 12px;
  bottom: 12px;
}

/* line 32, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
#toast-container {
  position: fixed;
  z-index: 9999;
}

/* line 37, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
#toast-container > div {
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  -o-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
  margin: 0 0 6px;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8;
  padding: 15px 15px 15px 50px;
  width: 300px;
}

/* line 56, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast {
  background-color: #030303;
}

/* line 60, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-success {
  background-color: #51A351;
}

/* line 64, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-error {
  background-color: #BD362F;
}

/* line 68, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-info {
  background-color: #2F96B4;
}

/* line 72, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-warning {
  background-color: #F89406;
}

/* line 75, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
.toast-top-right {
  top: 12px;
  right: 12px;
}

/* line 80, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  -o-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  cursor: pointer;
}

/* line 91, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

/* line 95, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

/* line 99, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

/* line 103, /home/ubuntu/.rvm/gems/ruby-2.6.3/gems/toastr-rails-1.0.3/vendor/assets/stylesheets/toastr.css */
#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

/* line 22, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
:root {
  --main-link-color: #b4894b;
  --main-font-color: #6683a3;
  --main-font-color-dark: #475B72;
  --main-bg-color: #7f7f7f;
  --nav-font-size: 14px;
}

/* line 30, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
html, body {
  overflow-x: hidden !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* line 35, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
nav {
  height: auto;
  padding: 0 !important;
}

/* line 40, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
body {
  min-height: 100vh;
}
/* line 43, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
body p {
  font-size: 14px;
}
/* line 47, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
body #io-body, body #renter-body {
  color: var(--main-font-color);
}

/* line 52, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.mobile-show {
  display: none;
}

/* line 56, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
hr {
  border-color: #eeeeef;
}

/* line 60, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.no-border {
  border: none !important;
}

/* line 64, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.float-left {
  float: left;
}

/* line 68, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.float-right {
  float: right;
}

/* line 72, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 76, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
#base-body, #io-body, #renter-body {
  bottom: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 0;
  background-color: #f6f9fc;
  min-height: calc(100vh - (75px + 250px));
}

/* line 85, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.no-display {
  display: none !important;
}

/* line 89, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.dropdown-menu {
  border-radius: 2.5px;
  border: 0.25px solid #e5eaef;
  right: 0 !important;
  left: auto;
  padding: 0;
  font-size: var(--nav-font-size) !important;
}
/* line 98, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.dropdown-menu li a {
  padding: 15px;
  color: var(--main-font-color) !important;
}
/* line 103, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.dropdown-menu li a:focus, .dropdown-menu li a:hover {
  background-color: #e5eaef;
}

/* line 109, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.toast {
  top: 65px !important;
  width: 100vw !important;
  right: 0 !important;
  text-align: center;
}

/* line 116, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.alert {
  border-radius: 2.75px;
}

/* line 120, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.fixed {
  position: fixed;
}

/* line 124, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.text-muted {
  color: #A3B4C7 !important;
}

/* line 130, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.goodbye-modal .modal-content {
  top: calc((100vh - 400px)/2);
  border-color: #fff;
}
/* line 135, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.goodbye-modal .modal-dialog {
  margin-top: 0 !important;
}
/* line 139, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.goodbye-modal .modal-body {
  max-height: 400px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 75px;
}
/* line 145, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.goodbye-modal .modal-body h2 {
  font-weight: 800;
}
/* line 149, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.goodbye-modal .modal-body div {
  margin-top: 20px;
}
/* line 152, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.goodbye-modal .modal-body div i {
  font-size: 40px;
  color: #6683a3;
}
/* line 157, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.goodbye-modal .modal-body div p {
  margin-top: 30px;
}

/* line 164, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
.box-shadow {
  box-shadow: 0 -2px 16px 1px rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 992px) {
  /* line 169, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
  .mobile-show {
    display: block;
  }

  /* line 173, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
  .mobile-hide {
    display: none !important;
  }

  /* line 177, /home/ubuntu/environment/sofash/app/assets/stylesheets/application.scss */
  #navbarNavSearch {
    display: none;
  }
}
.social-share-button .ssb-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  height: 18px;
  width: 18px;
}

.social-share-button .ssb-twitter {
  background-image: url(/assets/social-share-button/twitter-7b64ce0117a85c5d52ed45c27707af61d9b0e0d590284baa287cfe87867b9ae1.svg);
}

.social-share-button .ssb-facebook {
  background-image: url(/assets/social-share-button/facebook-03210e1663ee772e93ed5d344cdb36657b68342821aaebe982f2f984915990b3.svg);
}

.social-share-button .ssb-google_bookmark {
  background-image: url(/assets/social-share-button/google_bookmark-bb4c960c0421cb7dce602d10e744692bcc1c54f323410f4965d508f96e2255ce.svg);
}

.social-share-button .ssb-google_plus {
  background-image: url(/assets/social-share-button/google_plus-50c049fbb29cd3346f1bf9349017b644bcd00a53b56bd156728850f57bd85c0a.svg);
}

.social-share-button .ssb-weibo {
  background-image: url(/assets/social-share-button/weibo-a345a6ca554e6f388da9eb35746bb0425cb018c16408ba82852c66d375245d6f.svg);
}

.social-share-button .ssb-qq {
  background-image: url(/assets/social-share-button/qq-4dbae8223fc7823f6d73bc7fbe113eb894f4c174ec3ae93103ca382c78a2bf67.svg);
}

.social-share-button .ssb-delicious {
  background-image: url(/assets/social-share-button/delicious-0c55f72f821aae5352691f13eb64bf3435573e2169d0720477ed367b2f1ed28e.svg);
}

.social-share-button .ssb-linkedin {
  background-image: url(/assets/social-share-button/linkedin-b7fd42895b291003c444a9c2acf867ea813671e0b725a5d7c05dbb13f5c0fdd3.svg);
}

.social-share-button .ssb-tumblr {
  background-image: url(/assets/social-share-button/tumblr-330a37f93cce7c27a750188d0bfdbed3a22f566b807e64d21131dcdc94e08ec3.svg);
}

.social-share-button .ssb-pinterest {
  background-image: url(/assets/social-share-button/pinterest-86203d156197cce4087fee058b920d275c535df5fd59d8caa83da0ef41d1ec7f.svg);
}

.social-share-button .ssb-douban {
  background-image: url(/assets/social-share-button/douban-46298c27e3bc6d59951c0bbc464339a5ba1b44e3b25b571874f1baacd7af2495.svg);
}

.social-share-button .ssb-wechat {
  background-image: url(/assets/social-share-button/wechat-d8852cc3396a7a53eba39595d2e9f638c93a34ab1a0f41bae4ff391b63815f56.svg);
}

.social-share-button .ssb-vkontakte {
  background-image: url(/assets/social-share-button/vkontakte-0c2b68277fade991d74efcbdb6f7b359a35e65156cbada9625a3fe8f73151c14.svg);
}

.social-share-button .ssb-odnoklassniki {
  background-image: url(/assets/social-share-button/odnoklassniki-579bf782bd70fe94748254cac2c8c3dc150cceb0d2a143399e3062246b5ecb39.svg);
}

.social-share-button .ssb-xing {
  background-image: url(/assets/social-share-button/xing-0ebccb4042c8c7220e471c4f569df2bf27da227db425525819b6848c86a1603e.svg);
}

.social-share-button .ssb-email {
  background-image: url(/assets/social-share-button/email-7067143cbe69d9d8cf25e67fda1a315d133c2b79074a09088bd712cc5c81135d.svg);
}

.social-share-button .ssb-reddit {
  background-image: url(/assets/social-share-button/reddit-730429c239b6990b67d0d4aaaeb6e9fe48c62267f889a412e81f5f1066ec625f.svg);
}

.social-share-button .ssb-hacker_news {
  background-image: url(/assets/social-share-button/hacker_news-d89b13fec49355a787389a776f2e03a0a38314abf93777b8865f8c5f146eaf8d.svg);
}

.social-share-button .ssb-telegram {
  background-image: url(/assets/social-share-button/telegram-a6b5607917f3e3efbcf35c3ed43356b05622fcfc533d2fbf5066621b78c1dbe4.svg);
}

.social-share-button .ssb-whatsapp_app,
.social-share-button .ssb-whatsapp_web {
  background-image: url(/assets/social-share-button/whatsapp-766099d1a3ea095e9c8a8628e0505159b7f336b8036a8f70ad5fe60c29233959.svg);
}

.ss-wechat-dialog {
  width: 300px;
  position: fixed;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  z-index: 11001;
  font-size: 14px;
  line-height: 1.2em;
}

.ss-wechat-dialog .wechat-popup-header {
  font-weight: bold;
}

.ss-wechat-dialog .wechat-dialog-qr {
  text-align: center;
  margin: 25px 0;
}

.ss-wechat-dialog .wechat-popup-close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  text-decoration: none;
  font-size: 16px;
}

.ss-wechat-dialog .wechat-popup-footer {
  text-align: left;
  line-height: 22px;
  color: #666;
}
/*!
 * Datepicker for Bootstrap v1.9.0 (https://github.com/uxsolutions/bootstrap-datepicker)
 *
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */


.datepicker {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
}
.datepicker-inline {
  width: 220px;
}
.datepicker-rtl {
  direction: rtl;
}
.datepicker-rtl.dropdown-menu {
  left: auto;
}
.datepicker-rtl table tr td span {
  float: right;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
}
.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #999;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-top: 0;
  position: absolute;
}
.datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
  top: -7px;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
  top: -6px;
}
.datepicker-dropdown.datepicker-orient-top:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.datepicker-dropdown.datepicker-orient-top:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #fff;
}
.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #eee;
  cursor: pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #999;
  cursor: default;
}
.datepicker table tr td.highlighted {
  background: #d9edf7;
  border-radius: 0;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #000;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}
.datepicker table tr td.today:hover:hover {
  color: #000;
}
.datepicker table tr td.today.active:hover {
  color: #fff;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
  background: #eee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
  background-color: #f3d17a;
  background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
  background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
  border-color: #f3e97a #f3e97a #edde34;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
  background-color: #f3e97a;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background-color: #9e9e9e;
  background-image: -moz-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -ms-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
  background-image: -webkit-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -o-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: linear-gradient(to bottom, #b3b3b3, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
  border-color: #808080 #808080 #595959;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
  background-color: #808080;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active {
  background-color: #666666 \9;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -ms-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0044cc));
  background-image: -webkit-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -o-linear-gradient(to bottom, #08c, #0044cc);
  background-image: linear-gradient(to bottom, #08c, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
  background: #eee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -ms-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0044cc));
  background-image: -webkit-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -o-linear-gradient(to bottom, #08c, #0044cc);
  background-image: linear-gradient(to bottom, #08c, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #999;
}
.datepicker .datepicker-switch {
  width: 145px;
}
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
  cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: #eee;
}
.datepicker .prev.disabled,
.datepicker .next.disabled {
  visibility: hidden;
}
.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
.input-append.date .add-on,
.input-prepend.date .add-on {
  cursor: pointer;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  margin-top: 3px;
}
.input-daterange input {
  text-align: center;
}
.input-daterange input:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}
