<button type="button" data-toggle="modal" style="display: none;" id="goodbye-btn"
    data-target="#exampleModal"></button>

<div class="modal goodbye-modal" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>THANK YOU!</h2>
        
        <div>
          <i class="fas fa-rocket"></i>
          
          <p>
            Dear customers, it's been a blast serving you these past few months,
            but unfortunately, DripRent will be ceasing all operations, effective
            September 1st. For all pending refunds and unreturned items,
            please reach out to
            <a href="mailto:hello@driprent.com">hello@driprent.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>