<form id="newsletter-form">
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email"
            aria-label="email" aria-describedby="button-addon2" style="border: 2px solid #fff;">
        <div class="input-group-append">
            <button class="btn btn-light no-border" type="button" id="button-addon2">
                <i class="fas fa-long-arrow-alt-right"></i>
            </button>
        </div>
    </div>
</form>