<form id="newsletter-form">
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email"
            aria-label="email" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="button-addon2">
                Sign Up
            </button>
        </div>
    </div>
</form>