<div id="first-banner">
    <div class="vertical-align-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Access An Unlimited Wardrobe, On Us</h1>
                    <h4>Subscription packages starting at $30</h4>
                    
                    <button class="btn btn-light">
                        Browse our new arrivals <i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>