<div id="first-banner">
    <div class="vertical-align-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>FASHION RENTALS, BUT AFFORDABLE</h1>
                    <h4>Premium & designer pieces starting at $30</h4>
                </div>
            </div>
        </div>
    </div>
</div>