<div id="second-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>How It Works</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"></div>
                    
                    <div class="card-body">
                        <h4>
                            <strong>DR</strong> Light
                        </h4>
                        <h6>Starting at $30/rental</h6>
                        
                        <hr>
                        
                        <h6 class="bold">
                            Try things out as you go, no strings attached
                        </h6>
                        
                        <ul>
                            <li>
                                Rent any 1 item for up to 5 days at a time
                            </li>
                            <li>
                                Free returns & dry cleaning
                            </li>
                        </ul>
                        
                        <div align="center">
                            <button class="btn btn-theme">
                                START BROWSING
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"></div>
                    
                    <div class="card-body">
                        <h4>
                            <strong>DR</strong> Rotate
                        </h4>
                        <h6>$80/month</h6>
                        
                        <hr>
                        
                        <h6 class="bold">
                            Refresh your wardrobe with thrifty looks
                        </h6>
                        
                        <ul>
                            <li>
                                Rent up to 4 items for any period of time
                            </li>
                            <li>
                                Up to 5 rotations per month
                            </li>
                            <li>
                                Free returns, shipping, & dry cleaning
                            </li>
                        </ul>
                        
                        <div align="center">
                            <button class="btn btn-theme">
                                START BROWSING
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    
                    <div class="card-body">
                        <h4>
                            <strong>DR</strong> Unlimited
                            <h6>$150/month</h6>
                        </h4>
                        
                        <hr>
                        
                        <h6 class="bold">
                            Tap into an unlimited wardrobe, on us
                        </h6>
                        
                        <ul>
                            <li>
                                Rent unlimited items on rotation
                            </li>
                            <li>
                                Hold items for up to a month
                            </li>
                            <li>
                                Free returns, shipping, & dry cleaning
                            </li>
                        </ul>
                        
                        <div align="center">
                            <button class="btn btn-theme">
                                START BROWSING
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>