<style type="text/css">
    #base-body {
        padding-top: 0;
    }
    
    #base-body > .container:not(.banner-container) {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    
    nav {
        border-bottom: none !important;
    }
    
    main-body-wrapper {
        padding-bottom: 0 !important;
    }
</style>

<section class="home-page">
    <section class="first-banner">
        <%= render "first_banner" %>
    </section>
    
    <section id="popular-right-now">
        <div class="container">
            <div class="item-list">
                <%= render partial: "workflow/inventory_items/popular", locals: { items: @items } %>
            </div>
        </div>
    </section>
    
    <section class="second-banner">
        <%= render "second_banner" %>
    </section>
</section>
