<section id="cart-section">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 align="center">Items in your cart</h5>
                    
                    <hr>
                    
                    <div id="cart-content">
                        <%= render "cart_content" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    let loader = `
            <div class="spinner-border text-primary" role="status"
                style="height: 1rem; width: 1rem;">
              <span class="sr-only">Loading...</span>
            </div>
        `;
        
    displayLoaderForRemoveBtn = (elem) => {
        elem.innerHTML = loader;
    };
</script>