<section id="io-dashboard-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="height: 500px;">
                        <% if current_item_owner.has_live_orders %>
                            <%= render partial: "orders/_orders", locals: { orders: ccurrent_item_owner.live_orders } %>
                        <% else %>
                            <%= render "no_live_orders" %>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="height: 500px;">
                        <% if current_item_owner.has_transactions %>
                            <%= render partial: "transactions", locals: { transactions: [] } %>
                        <% else %>
                            <%= render "no_transaction_history" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>