<div style="height: 100%; display: table; width: 100%;">
    <p style="margin: 0; display: table-cell; 
        vertical-align: middle !important;" align="center">
        No payment history
    </p>
</div>