<section id="dashboard">
    <% if current_item_owner.has_completed_registration == true %>
        <%= render "io_dashboard" %>
    <% else %>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <%= render partial: "common/card_header", locals: { text: "Complete your profile" } %>
                        <%= render "form" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</section>