<section id="pickup-request">
    <div class="row">
        <div class="col-lg-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <h5>
                Request a pickup:
                <%= pluralize(@pr.pickup_request_items.count, "item") %> added
              </h5>
              
              <hr>
              
              <div class="pri-form">
                <%= render 'item_owners/pickup_requests/form' %>
              </div>
              
              <div class="row">
                <div class="col-lg-6">
                  <button class="btn btn-primary btn-block" id="add-pri-form"
                    onclick="document.querySelector('form').submit();"
                    <% if @pr.pickup_request_items.count == 3 %>disabled<% end %>>
                      Add item (up to 3)
                  </button>
                </div>
                
                <div class="col-lg-6">
                  <% if @pr.has_no_items %>
                    <button class="btn btn-success btn-block" id="submit-pri-forms"
                      disabled title="Add an item first">
                      Submit Request
                    </button>
                  <% else %>
                    <button class="btn btn-success btn-block" id="submit-pri-forms">
                      <%= link_to "Submit Request", submit_pr_path(:id => @pr.id),
                        method: :post, style:"color: #fff; text-decoration: none;" %>
                    </button>
                  <% end %>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-12">
                  <hr>
                  <% if @pr.pickup_request_items.count > 0 %>
                    <a class="btn btn-link btn-block" id="cancel-pr-request"
                      onclick="watchForAlertInput(this)" href="">
                      Cancel Request
                    </a>
                  <% else %>
                    <a class="btn btn-link btn-block" id="cancel-pr-request" href=""
                      onclick="cancelRequest()">
                      I'll do this later
                    </a>
                  <% end %>
                  
                  <%= link_to "Cancel Request", pickup_request_path(@pr),
                    id:"cancel-request-btn", method: :delete, style:"display: none;" %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<script type="text/javascript">
  watchForAlertInput = (elem) => {
    if (confirm("Are you sure?")) {
      cancelRequest();
    }
  }
  
  cancelRequest = () => {
    document.querySelector('#cancel-request-btn').click();
  }
</script>