<section id="pickup-request">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <h4>
                Pickup Request:
                <%= pluralize(@pr.pickup_request_items.count, "item") %> added
              </h4>
              <%= render 'item_owners/item_owners/pickup_requests/form' %>
              
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-primary btn-block" id="add-pri-form"
                    onclick="document.querySelector('form').submit();"
                    <% if @pr.pickup_request_items.count == 3 %>disabled<% end %>>
                      Add another item
                  </button>
                </div>
                
                <div class="col-md-6">
                  <button class="btn btn-success btn-block" id="submit-pri-forms"
                      onclick="window.location.href='/submit_pickup_request?pickup_request_item=<%= @pr.id %>'">
                      Submit Request
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>