.btn-transparent {
    color: #b8b8ba !important;
    background-color: transparent !important;
    border-color: #e7e7e9 !important;
}

.dashboard-navigation {
    button {
        border-left: none;
        border-right: none;
        border-width: 0.5px !important;
    }
}

.btn-theme, .btn-theme:hover {
    background-color: #192f47;
    border-color: #192f47;
    color: #fff;
}

.btn-theme:hover {
    background-color: #001833;
    border-color: #001833;
    color: #fff;
}

.btn-theme-outline, .btn-theme-outline:hover {
    background-color: transparent;
    border-color: #192f47;
    color: #192f47;
}

.btn {
    border-radius: 7px;
}

.btn-pill {
    border-radius: 25px !important;
}

@media (max-width: 992px) {
    .dashboard-navigation {
        margin-left: -15px !important;
        margin-right: -15px !important;
        
        .btn {
            border-radius: 0 !important;
            height: 50px;
        }
        
        .dropdown-menu {
            width: 100%;
            margin-top: 0;
            border-radius: 0;
            border: none;
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .dropdown-item {
            color: #b8b8ba !important;
            padding-top: 12px;
            padding-bottom: 12px;
            border-bottom: 0.5px solid #e7e7e9;
        }
    }
}