button.btn, input.form-control {
    height: 50px !important;
}

button.btn, input.form-control, textarea {
    font-size: 16px !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-control {
    margin-bottom: 15px;
}

button.btn, .form-control {
    border-radius: 3px;
}

#newsletter-form {
    input {
        outline: none !important;
        text-shadow: none !important;
    }
}