button.btn, input.form-control, input.btn {
    height: 50px !important;
}

button.btn, input.form-control, textarea {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 3px;
}

input:focus {
    border-color: #ced4da !important;
}

label, .form-control, .btn {
    font-size: 14px !important;
}

.form-control {
    border-radius: 2.75px !important;
    margin-bottom: 15px;
}

#newsletter-form {
    input {
        outline: none !important;
        text-shadow: none !important;
    }
}