#first-banner {
    min-height: 45vh;
    border: none;
    background: #396afc;
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);
    background: linear-gradient(to right, #2948ff, #396afc);
    text-align: center;
    display: table;
    width: 100%;
    
    div.vertical-align-center {
        display: table-cell;
        vertical-align: middle;
        
        h1 {
            color: #fff;
            font-size: 50px;
            font-weight: 800;
            text-transform: uppercase;
        }
        
        h4{
            color: #fff;
        }
        
        h1, h4 {
            margin-bottom: 15px;
        }
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
  
    &::before,
        &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: repeat-x;
    }
      
    &::before {
        height: 10px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
    }
    
    &::after {
        height: 15px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
    }
}

#second-banner {
    min-height: 450px;
    background-color: #e5f1ff;
    text-align: center;
    padding: 40px 0 80px;
    
    h3 {
        color: var(--main-font-color);
        margin-bottom: 35px;
        font-size: 35px;
    }
    
    .col-md-4 {
        height: inherit !important;
    }
    
    .card {
        text-align: left;
        height: 100%;
        
        .card-body {
            h6.bold {
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 15px;
            }
            
            ul {
                padding-inline-start: 15px !important;
            }
            
            div {
                margin-top: 25px;
                
                button {
                    font-size: 14px !important;
                }
            }
        }
    }
    
    .col-md-4:first-child > .card {
        border-color: #c0c0c0;
        
        .card-header:first-child {
            border-radius: 0 !important;
            padding: 0;
            height: 5px;
        }
        
        .card-header {
            background-color: #c0c0c0;
        }
    }
    
    .col-md-4:nth-child(2) .card {
        border-color: #cd7f32;
        
        .card-header:first-child {
            border-radius: 0 !important;
            padding: 0;
            height: 5px;
        }
        
        .card-header {
            background-color: #cd7f32;
        }
    }
    
    .col-md-4:last-child > .card {
        border-color: #FFD700;
        
        .card-header:first-child {
            border-radius: 0 !important;
            padding: 0;
            height: 5px;
        }
        
        .card-header {
            background-color: #FFD700;
        }
    }

}

#latest-arrivals, #popular-right-now {
    padding: 25px 0;
}

.home-page > section:not(:first-child) {
    margin-bottom: 15px;
}

#browse-by-brand {
    padding: 15px 0;
    
    h6 {
        margin-bottom: 15px;
    }
    
    .brand-box {
        img {
            width: 95%;
        }
    }
    
    .prop-asset {
        width: 200px;
        border: 1px solid #e7e7e9;
    }
}


@media (max-width: 992px) {
    .brand-box:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .prop-asset {
        border-width: 2px !important;
    }
    
    #browse-by-brand {
        .col-md-2 {
            width: 50%;
            display: inline-block;
        }
    }
    
    #first-banner {
        height: 450px;
        
        h1 {
            font-size: 40px !important;
        }
    }
    
    #second-banner {
        h3 {
            font-size: 25px;
        }
    }
}