// Place all the styles related to the inventory_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inventory--items {
    .item-column {
        margin: 15px 0;
        
        .card-footer {
            display: none;
        }
    }
    
    .img--container {
        margin: auto;
        width: 100%;
        height: auto;
        border-radius: 5px !important;
        overflow: hidden;
        cursor: pointer;
        // transition: width 0.25s;
        
        .card-footer {
            background-color: #fff;
            border-color: #fff;
            
            p {
                font-size: 14px;
            }
        }
        
        img {
            width: inherit;
        }
    }
    
    .img--container:hover {
        width: 105%;
        height: auto;
        z-index: 10999 !important;
        position: absolute;
        box-shadow: 0 26px 54px -10px rgba(50,50,93,.25),
                    0 16px 32px -16px rgba(0,0,0,.3),
                    0 -12px 32px -12px rgba(0,0,0,.025);
        
        .card-footer {
            display: block;
        }
    }
}

.inventory-item {
    nav {
        height: 50px;
        
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin-bottom: 0;
        }
    }
    
    .img--container {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
        margin: auto;
        
        li {
            height: 50px;
            width: 50px;
            border: 1px solid #000;
        }
        
        i {
            color: #000;
            font-size: 25px;
        }
    }
    
    .item-data {
        div:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}