// Place all the styles related to the inventory_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.feed-item-description {
    padding-top: 30px;
}


// SHOW
.inventory-item {
    nav {
        height: 50px;
        border-bottom: none !important;
        
        .breadcrumb {
            background-color: transparent !important;
            padding: 0;
            margin-bottom: 0;
            
            li:not(:first-child)::before {
                content: ">";
            }
        }
    }
    
    h6 {
        font-weight: 600;
    }
    
    .img--container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0.5px;
        margin: auto;
        padding-top: 45px;
        padding-bottom: 45px;
        
        li {
            height: 50px;
            width: 50px;
            border: 1px solid #000;
        }
        
        i {
            color: #000 !important;
            font-size: 25px;
        }
        
        img {
            vertical-align: middle !important;
            width: 90% !important;
        }
    }
    
    .item-data {
        div:not(:last-child) {
            margin-bottom: 15px;
        }
        
        .item-name {
            h5 {
                color: #000;
            }
        }
    }
    
    .item-actions {
        .btn {
            transition: display 0.50s;
            margin-bottom: 15px;
        }
    }
}

.tinymce {
    min-height: 500px;
}

.badge-success {
    background-color: transparent;
    color: #28a745;
    border: 0.5px solid #28a745;
}

.badge-danger {
    background-color: transparent;
    color: #dc3545;
    border: 0.5px solid #dc3545;
}


@media (max-width: 992px) {
    #inventory--items {
        .img--container {
            .card-body {
                max-height: 215px;
            }
        }
        
        .col-md-3, .col-md-2 {
            width: 50%;
            display: inline-block;
        }
    }
    
    .inventory-item {
        .item-data {
            margin-top: 15px;
        }
    }
}