// Place all the styles related to the inventory_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// INDEX
#inventory--items {
    .item-column {
        margin: 15px 0;
    }
    
    .img--container {
        margin: auto !important;
        width: auto;
        min-height: 150px;
        border-radius: 2px !important;
        overflow: hidden;
        cursor: pointer;
        // transition: width 0.25s;
        
        h6 {
            color: #191919 !important;
        }
        
        .card-body {
            max-height: 163px;
        }
        
        .card-footer {
            border-top: none;
            background-color: #fbfbfb;
            
            p {
                font-size: 14px;
            }
            
            div {
                color: var(--main-font-color);
            }
        }
        
        img {
            width: 100%;
        }
    }
    
    .img--container:hover {
        z-index: 5 !important;
        position: absolute;
        border: none;
        box-shadow: 0 26px 54px -10px rgba(50,50,93,.25),
                    0 16px 32px -16px rgba(0,0,0,.3),
                    0 -12px 32px -12px rgba(0,0,0,.025);
    }
}

#search-results-box {
    #search-result-items .col-md-12 {
        padding: 15px 0 15px 40px;
    }
    
    #search-result-items .col-md-12.item:hover {
        background-color: #e7e7e9;
        cursor: pointer;
    }
}


// SHOW
.inventory-item {
    nav {
        height: 50px;
        border-bottom: none !important;
        
        .breadcrumb {
            background-color: transparent !important;
            padding: 0;
            margin-bottom: 0;
            
            li:not(:first-child)::before {
                content: ">";
            }
        }
    }
    
    h6 {
        font-weight: 600;
    }
    
    .img--container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2px;
        margin: auto;
        padding-top: 45px;
        padding-bottom: 45px;
        
        li {
            height: 50px;
            width: 50px;
            border: 1px solid #000;
        }
        
        i {
            color: #000 !important;
            font-size: 25px;
        }
        
        img {
            vertical-align: middle !important;
            width: 90% !important;
        }
    }
    
    .item-data {
        div:not(:last-child) {
            margin-bottom: 15px;
        }
        
        .item-name {
            h5 {
                color: #000;
            }
        }
    }
    
    .item-description {
        padding: 25px 0;
    }
    
    .item-actions {
        .btn {
            transition: display 0.50s;
            margin-bottom: 15px;
        }
        
        .btn:hover {
            span:first-child {
                display: none;
            }
            
            span:last-child {
                display: inline !important;
            }
        }
    }
}

.tinymce {
    min-height: 500px;
}

.badge-success {
    background-color: transparent;
    color: #28a745;
    border: 0.5px solid #28a745;
}

.badge-danger {
    background-color: transparent;
    color: #dc3545;
    border: 0.5px solid #dc3545;
}


@media (max-width: 992px) {
    #mobile-search-results-box {
        #search-result-items .col-md-12 {
            padding: 20px 0 20px 40px;
            border-bottom: 0.5px solid #e7e7e9;
        }
        
        #search-result-items .col-md-12.item:hover {
            background-color: #e7e7e9;
            cursor: pointer;
        }
    }
    
    #inventory--items {
        .img--container {
            .card-body {
                max-height: 215px;
            }
        }
        
        .col-md-3, .col-md-2 {
            width: 50%;
            display: inline-block;
        }
    }
    
    .inventory-item {
        .item-data {
            margin-top: 15px;
        }
    }
}