.nav-pills {
    .nav-link {
        background-color: transparent !important;
        color: #b8b8ba !important;
        padding: 0;
        margin-bottom: 15px;
        
        span {
            width: 0;
        }
    }
    
    .nav-link:hover, .active {
        span {
            color: #616162;
            padding-bottom: 4px;
            border-bottom: 2px solid #616162;
        }
    }
}