.nav-pills {
    .nav-link {
        background-color: transparent !important;
        color: #b8b8ba !important;
        padding: 0;
        margin-bottom: 15px;
        
        span {
            width: 0;
        }
    }
    
    .nav-link:hover, .active {
        span {
            border-bottom: 3px solid #e7e7e9;
        }
    }
}