// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new-wish-section {
    text-align: center;
    p {
        margin-bottom: 0;
    }
    
    a {
        text-decoration: none;
    }
}

.image-upload-card {
    border: 3px solid var(--main-font-color);
    margin-bottom: 15px;
    
    i {
        font-size: 60px;
        cursor: pointer;
        color: #ccd1e4;
        transition: color 0.50s;
    }
    
    i:hover {
        color: var(--main-font-color);
    }
}