<header align="center"
    style="padding-top: 0; padding-bottom: 0; margin: 0 0 -37.5px 0;
      height: 50px; position: relative; z-index: 1;">
    <h5>
        <mark style="background-color: #fff; color: #6683a3;
                    padding-left: 10px; padding-right: 10px;">
            <%= text %>
        </mark>
    </h5>
</header>

<div style="height: 50px;"><hr style="margin: 0; position: relative; z-index: 0;"></div>