<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="base-navbar">
    <div class="container">
        <button class="btn btn-link btn-transparent navbar-toggler"
            id="cart-icon" onclick="window.location.href='/cart';">
            <i class="fas fa-shopping-bag"></i>
            <span class="badge badge-light cart-size">
                <%= cart_size %>
            </span>
        </button>
        
        <a class="navbar-brand" href="/">driprent</a>
        
        <button class="navbar-toggler mobile-menu-button" type="button"
            onclick="$('#mobile-menu').fadeIn();">
            <div class="ham-menu-wrapper">
                <div class="ham-menu" id="stack1"></div>
                <div class="ham-menu" id="stack2"></div>
                <div class="ham-menu" id="stack3"></div>
            </div>
            
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-center middle-nav"
            id="navbarNavSearch">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <input type="search" placeholder="Search an item" id="navbar-search"
                        onclick="triggerOverlay()">
                </li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse justify-content-end right-nav" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/io/register" class="btn btn-link">
                        List on DripRent
                    </a>
                </li>
                
                <li class="nav-item">
                    <%= link_to register_path, class:"btn btn-link" do %>
                        Register
                    <% end %>
                </li>
                
                <li class="nav-item">
                    <%= link_to login_path, class:"btn btn-theme-outline", id:"signin-btn" do %>
                        Sign in
                    <% end %>
                </li>
                
                <li class="nav-item">
                    <hr>
                </li>
                
                <li class="nav-item">
                    <a class="btn btn-link btn-transparent" id="cart-icon"
                        href="/cart">
                        <i class="fas fa-shopping-bag"></i>
                        <span class="badge badge-light cart-size">
                            <%= cart_size %>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="mobile-menu">
        <header>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="float-left">
                        Menu
                    </h6>
                    
                    <h6 class="float-right">
                        <a class="cursor-pointer" onclick="$('#mobile-menu').fadeOut();">
                            <i class="fas fa-times"></i> Close
                        </a>
                    </h6>
                </div>
            </div>
        </header>
        
        <section id="menu-body">
            <a href="/login">
                <div>
                    Signin
                </div>
            </a>
            
            <a href="/register">
                <div>
                    Register
                </div>
            </a>
            
            <a href="/register">
                <div>
                    Lister login
                </div>
            </a>
            
            <a href="/io/register">
                <div>
                    List on DripRent
                </div>
            </a>
            
            <a href="/faq">
                <div>
                    FAQ
                </div>
            </a>
        </section>
    </div>
</nav>

<section id="overlay-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div align="right" id="overlay-search-close">
                    <h3 class="cursor-pointer" onclick="triggerOverlay()">
                        <i class="fas fa-times"></i> Close
                    </h3>
                </div>
            </div>
            
            <div class="col-md-8 offset-md-2">
                <input type="search" placeholder="Search an item" id="overlay-search-bar"
                    onfocusin="toggleBox('search-results-box')"
                    onfocusout="toggleBox('search-results-box')"
                    class="form-control">
                
                <div id="search-results-box">
                    lets put something here
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    triggerOverlay = () => {
        $('#overlay-search').toggleClass('active');
    }
</script>