<nav class="navbar navbar-expand-lg" id="base-navbar"
    onscroll="triggerBoxShadow()">
    <div class="container">
        <button class="btn btn-link btn-transparent navbar-toggler"
            id="cart-icon" onclick="window.location.href='/cart';">
            <i class="fas fa-shopping-bag"></i>
            <span class="badge badge-light cart-size">
                <%= cart_size %>
            </span>
        </button>
        
        <a class="navbar-brand" href="/">
            qlozet
        </a>
        
        <div class="collapse navbar-collapse justify-content-end right-nav" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="btn btn-link" href="#"
                        id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        onclick="$('#for-renters-dropdown').toggleClass('no-display');">
                        For Listers <i class="fas fa-angle-down"></i>
                    </a>
                    <ul id="for-renters-dropdown" aria-labelledby="navbarDarkDropdownMenuLink"
                        class="box-shadow dropdown-menu">
                        <li><a class="dropdown-item" href="/lister/login">Login</a></li>
                        <li><a class="dropdown-item" href="/lister/register">Register</a></li>
                        <li><a class="dropdown-item" href="/lister-faqs">FAQs</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a href="/login" class="btn btn-link">
                        Sign in
                    </a>
                </li>
                
                <li class="nav-item">
                    <%= link_to "/register", class:"btn btn-primary", id:"signin-btn" do %>
                        Register
                    <% end %>
                </li>
            </ul>
        </div>
        
        <button class="navbar-toggler mobile-menu-button" type="button"
            onclick="$('#mobile-menu').fadeIn();">
            <div class="ham-menu-wrapper">
                <div class="ham-menu" id="stack1"></div>
                <div class="ham-menu" id="stack2"></div>
                <div class="ham-menu" id="stack3"></div>
            </div>
            
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
    <div id="mobile-menu">
        <header>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="float-left">
                        Menu
                    </h6>
                    
                    <h6 class="float-right">
                        <a class="cursor-pointer" onclick="$('#mobile-menu').fadeOut();">
                            <i class="fas fa-times"></i> Close
                        </a>
                    </h6>
                </div>
            </div>
        </header>
        
        <section id="menu-body">
            <a onclick="$('#search-panel').fadeIn()">
                <div>
                    <i class="fas fa-search"></i> Search
                </div>
            </a>
            
            <a href="/login">
                <div>
                    Signin
                </div>
            </a>
            
            <a href="/register">
                <div>
                    Register
                </div>
            </a>
            
            <a href="/register">
                <div>
                    Consignor login
                </div>
            </a>
            
            <a href="/io/register">
                <div>
                    Consign with us
                </div>
            </a>
            
            <a href="/faq">
                <div>
                    FAQ
                </div>
            </a>
        </section>
    </div>
</nav>

<script>
    triggerBoxShadow = () => {
        const nav = document.querySelector('nav.navbar');
        const body = document.querySelector('body');
        
        let scrollTop = body.scrollTop;
        let navHeight = nav.offsetHeight;
        console.log(scrollTop, navHeight);
        
        if (scrollTop) {
            nav.classList.add('box-shadow');
            console.log("box shadow added");
        } else {
            nav.classList.remove('box-shadow');
            console.log("box shadow removed");
        }
    };
    
    $(window).scroll(triggerBoxShadow());
</script>