<footer>
    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <p>
                    <a href="/about">About</a>
                </p>
                <p>
                    <a href="/press">Press</a>
                </p>
                <p>
                    <a href="/faq">FAQ</a>
                </p>
                <p>
                    <a href="/terms">Terms</a>
                </p>
            </div>
            
            <div class="col-md-4">
                <p>
                    <a href="/r/login">Customer Login</a>
                </p>
                <p>
                    <a href="/io/login">Partner Login</a>
                </p>
                <p>
                    <a href="/contact-us">Contact Us</a>
                </p>
                <p>
                    <a href="/team">Join the team!</a>
                </p>
            </div>
            
            <div class="col-md-4">
                <p>
                    <a href="/about">Twitter</a>
                </p>
                <p>
                    <a href="/press">Instagram</a>
                </p>
                <p class="payment-card-brands">
                    <a href="/">
                        <i class="fab fa-cc-visa"></i>
                    </a>
                    <a href="/">
                        <i class="fab fa-cc-mastercard"></i>
                    </a>
                    <a href="/">
                        <i class="fab fa-cc-discover"></i>
                    </a>
                    <a href="/">
                        <i class="fab fa-cc-amex"></i>
                    </a>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12" align="center">
                <p>
                    &copy; 2019 WeDrip Group
                </p>
            </div>
        </div>
    </section>
</footer>